<html>
  <!-- css imports -->
  <link rel="stylesheet" href="lib\css\bootstrap.min.css">
<link href="customCss\adminCss.css" rel="stylesheet" type="text/css">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<body>
      <nav class="navbar navbar-expand-sm bg-dark navbar-dark bar-height">
          <div class="row">
              <div class="navbar-nav">
           
                <img class="img-fluid logo" src="C:\Users\770268\NavaNalanda\Logo.png"></img>
          
                <div class="nav-item active">
          
                  <a class="nav-link" href="#">
          
                    <div class="menu-bar">
          
                      <div class="col-md-2">
          
                        Home
          
                      </div>
          
                    </div>
          
                  </a>
          
                </div>
                <div class="col-md-2 menu-head">
                      <div class="dropdown">
                          <div class="dropbtn">Gallery
                            <i class="fa fa-caret-down"></i>
                          </div>
                          <div class="dropdown-content">
                            <a href="view.html">View</a>    
                              <a href="gallery.html">Add</a>    
                            </div>
                        </div> 
                     
                </div>   
                <div class="col-md-2 menu-head">
                      <div class="dropdown">
                          <div class="dropbtn">News
                            <i class="fa fa-caret-down"></i>
                          </div>
                          <div class="dropdown-content">
                            <a href="news.html">View News</a>    
                            <a href="newsAdd.html">Add News</a>   
                          </div>
                        
                      </div>
                </div>
          
                <div class="col-md-6 menu-head">
                      <div class="dropdown">
                          <div class="dropbtn">
                            Register
                            <i class="fa fa-caret-down"></i>
                          </div>
                            <div class="dropdown-content">
                                <a href="registered.html" target="_self">Register Players</a>    
                              </div>
                        
                        </div> 
                     
                </div>
           
           
                <div class="col-md-6">
                <div class="dropdown menu-user">
                    <div class="dropbtn">User 
                      <i class="fa fa-caret-down"></i>
                    </div>
                    <div class="dropdown-content">
                      <a href="editProfile.html">Edit profile</a>
                      <a href="changeSettings.html">change settings</a>
                      <a href="#">logout</a>
                    </div>
                  </div> 
                
          </div>
              </div>
            </div>
            </nav>

  <img class="img-fluid img" src="pic\Soccer_picture.jpg">
  <div class="schedules">

    <div class="text-center text-uppercase font-weight-normal heading"><u>Stage Schedules</u><br>
    </div>
    
      <div class="list text-center">Team A V Team B </div>
      <div class="text-center">29<sup>th</sup>Aug 2019</div>
      <div class="list text-center">Team A V Team B</div>
      <div class="text-center">1<sup>st</sup> Sep 2019</div>
  </div>
  <div class="contain">

    <div class="text-block">

      <div class="text-center"><ins>
          <h5 class="heading">
            2019 Nava Nalanda Cup - Registered Teams
          </h5>
        </ins>

        <div class="prize"><strong>
            <div class="circlelast"></div><a href="teamsApprove.html">ABC batch of 1998</a>
          </div><br>
        <div class="prize">
          <div class="circlelast"></div><a href="#">XYZ batch of 2004</a> 
        </div><br>  
        <div class="prize">
          <div class="circlelast"></div><a href="#">MNO batch of 2010</a></strong>
        </div>
      </div>

    </div>
  </div>
</div>

</body>
</html>