<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- css imports -->
<link rel="stylesheet" href="lib\css\bootstrap.min.css">
<link href="customCss\payment.css" rel="stylesheet" type="text/css">
<link href="customCss\style.css" rel="stylesheet" type="text/css">

</head>
<body>
            
<nav class="navbar navbar-expand-sm bg-dark navbar-dark bar-height">

        <div class="navbar-nav">
    
          <img class="img-fluid logo" src="pic/Logo.png"></img>
    
          <li class="nav-item active">
    
            <a class="nav-link" href="#">
    
              <div class="mx-auto menu-bar">
    
                <div class="col-md-2 offset-md-10">
    
                  Home
    
                </div>
    
              </div>
    
            </a>
    
          </li>
    
          <li class="nav-item active">
    
            <a class="nav-link" href="#">
    
              <div class="mx-auto menu-bar">
    
                <div class="col-md-2  offset-md-10">
    
                  Gallery
    
                </div>
    
              </div>
    
            </a>
    
          </li>
    
          <li class="nav-item active">
    
            <a class="nav-link" href="#">
    
              <div class="mx-auto menu-bar">
    
                <div class="col-md-2  offset-md-10">
    
                  Teams
    
                </div>
    
              </div>
    
            </a>
    
          </li>
    
          <li class="nav-item active">
    
            <a class="nav-link" href="#">
    
              <div class="mx-auto menu-bar">
    
                <div class="col-md-2  offset-md-10">
    
                  News
    
                </div>
    
              </div>
    
            </a>
    
          </li>
    
          <li class="nav-item active">
    
            <a class="nav-link" href="#">
    
              <div class="mx-auto menu-bar">
    
                <div class="col-md-2  offset-md-10">
    
                  Register
    
                </div>
    
              </div>
    
            </a>
    
          </li>
          <div class="col-md-6  offset-md-6">
                <div class="dropdown" style="margin-top:10%">
                    <div class="dropbtn">User 
                      <i class="fa fa-caret-down"></i>
                    </div>
                    <div class="dropdown-content">
                      <a href="#">Edit profile</a>
                      <a href="#">change settings</a>
                      <a href="#">logout</a>
                    </div>
                  </div> 
                </ul>
          </div>
    
          </ul>
    
        </div>
    
      </nav>

<form>
<div class="register">   
                    <div class="col-md-9 register-right">
                     
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                                   
                                         <label for="validationDefault07" class="pay"><h1>Payment</h1></label><br>
                                           <img src="pic/payment.png" class="img-fluid pay"> 
                                        <input type="submit" class="btnRegister" value="Register"/>

                                        <div style="margin-top:30%;margin-right: 20%">
                                            <a href="#" class="btn btn-info" data-tabulation-nav="prev">prev</a>
                                            <a href="#" class="btn btn-light" data-tabulation-nav="1">1</a>
                                            <a href="#" class="btn btn-light" data-tabulation-nav="2">2</a>
                                            <a href="#" class="btn btn-light" data-tabulation-nav="3">3</a>
                                            <a href="#" class="btn btn-light" data-tabulation-nav="4">4</a>
                                            <a href="#" class="btn btn-light" data-tabulation-nav="5">5</a>
                                            <a href="#" class="btn btn-info" data-tabulation-nav="next">next</a>
                                          </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </form>
        </div>
        </body>
        </html>