<!DOCTYPE html>
<html class=''>
<head>
<meta charset='UTF-8'>
<meta name="robots" content="noindex"> -->
<!-- Css imports -->
 <link href="lib\css\bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="customCss\viewImg.css" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark bar-height">
        <div class="row">
            <div class="navbar-nav">
         
              <img class="img-fluid logo" src="pic/Logo.png"></img>
        
              <div class="nav-item active">
        
                <a class="nav-link" href="#">
        
                  <div class="mx-auto menu-bar">
        
                    <div class="col-md-2 text-white-50">
        
                      Home
        
                    </div>
        
                  </div>
        
                </a>
        
              </div>
              <div class="col-md-2 menu-bar">
                    <div class="dropdown">
                        <div class="dropbtn text-white">Gallery
                          <i class="fa fa-caret-down"></i>
                        </div>
                        <div class="dropdown-content">
                          <a href="view.html">View</a>    
                        </div>
                      </div> 
                   
              </div>
              <div class="col-md-2  menu-bar">
                    <div class="dropdown">
                        <div class="dropbtn text-white-50">Teams
                          <i class="fa fa-caret-down"></i>
                        </div>
                        <div class="dropdown-content">
                          <a href="teamList.html">View Teams</a>
                       
                        </div>
                      </div> 
                   
              </div>
        
              <div class="col-md-2  menu-bar">
                    <div class="dropdown">
                        <div class="dropbtn text-white-50">News
                          <i class="fa fa-caret-down"></i>
                        </div>
                        <div class="dropdown-content">
                          <a href="news.html">View News</a>    
                        </div>
                      
                    </div>
              </div>
        
              <div class="col-md-2  menu-bar">
                    <div class="dropdown">
                        <div class="dropbtn text-white-50">
                          Register
                          <i class="fa fa-caret-down"></i>
                        </div>
                          <div class="dropdown-content">
                              <a href="registered.html" target="_self">Register Players</a>    
                            </div>
                      
                      </div> 
                   
              </div>
         
         
              <div class="col-md-6">
              <div class="dropdown  menu-bar">
                  <div class="dropbtn text-white-50">User 
                    <i class="fa fa-caret-down"></i>
                  </div>
                  <div class="dropdown-content">
                    <a href="editProfile.html">Edit profile</a>
                    <a href="changeSettings.html">change settings</a>
                    <a href="#">logout</a>
                  </div>
                </div> 
              
        </div>
            </div>
          </div>
          </nav>
          <div class="container page-top">



              <div class="row">
      
      
                  <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                      <a href="https://images.pexels.com/photos/62307/air-bubbles-diving-underwater-blow-62307.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="fancybox" rel="ligthbox">
                          <img  src="https://images.pexels.com/photos/62307/air-bubbles-diving-underwater-blow-62307.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="zoom img-fluid "  alt="">
                         
                      </a>
                  </div>
                  <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                      <a href="https://images.pexels.com/photos/38238/maldives-ile-beach-sun-38238.jpeg?auto=compress&cs=tinysrgb&h=650&w=940"  class="fancybox" rel="ligthbox">
                          <img  src="https://images.pexels.com/photos/38238/maldives-ile-beach-sun-38238.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="zoom img-fluid"  alt="">
                      </a>
                  </div>
                  
                  <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                      <a href="https://images.pexels.com/photos/158827/field-corn-air-frisch-158827.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="fancybox" rel="ligthbox">
                          <img  src="https://images.pexels.com/photos/158827/field-corn-air-frisch-158827.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="zoom img-fluid "  alt="">
                      </a>
                  </div>
                  
                  <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                      <a href="https://images.pexels.com/photos/302804/pexels-photo-302804.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="fancybox" rel="ligthbox">
                          <img  src="https://images.pexels.com/photos/302804/pexels-photo-302804.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="zoom img-fluid "  alt="">
                      </a>
                  </div>
                  
                   <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                      <a href="https://images.pexels.com/photos/1038914/pexels-photo-1038914.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="fancybox" rel="ligthbox">
                          <img  src="https://images.pexels.com/photos/1038914/pexels-photo-1038914.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="zoom img-fluid "  alt="">
                      </a>
                  </div>
                  
                   <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                      <a href="https://images.pexels.com/photos/414645/pexels-photo-414645.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="fancybox" rel="ligthbox">
                          <img  src="https://images.pexels.com/photos/414645/pexels-photo-414645.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="zoom img-fluid "  alt="">
                      </a>
                  </div>
                  
                   <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                      <a href="https://images.pexels.com/photos/56005/fiji-beach-sand-palm-trees-56005.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="fancybox" rel="ligthbox">
                          <img  src="https://images.pexels.com/photos/56005/fiji-beach-sand-palm-trees-56005.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="zoom img-fluid "  alt="">
                      </a>
                  </div>
                  
                   <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                      <a href="https://images.pexels.com/photos/1038002/pexels-photo-1038002.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="fancybox" rel="ligthbox">
                          <img  src="https://images.pexels.com/photos/1038002/pexels-photo-1038002.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="zoom img-fluid "  alt="">
                      </a>
                  </div>
                  
                  
                 
                 
             </div>
          </div>
<!-- Js imports -->
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src="customJs\viewImg.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
</body>
</html>