<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<link href="customCss\galler.css" rel="stylesheet" type="text/css">
<link href="customCss\style.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="lib\css\bootstrap.min.css">

<body>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark bar-height">
        <div class="row">
            <div class="navbar-nav">
         
              <img class="img-fluid logo" src="pic/Logo.png"></img>
        
              <div class="nav-item active">
        
                <a class="nav-link" href="#">
        
                  <div class="mx-auto menu-bar">
        
                    <div class="col-md-2 bar-active">
        
                      Home
        
                    </div>
        
                  </div>
        
                </a>
        
              </div>
              <div class="col-md-2 menu-head">
                    <div class="dropdown">
                        <div class="dropbtn">Gallery
                            <i class="fa fa-caret-down"></i>
                        </div>
                        <div class="dropdown-content">
                            <a href="view.html">View</a>    
                          </div>
                      </div> 
                   
              </div>
              <div class="col-md-2 menu-head">
                    <div class="dropdown">
                        <div class="dropbtn bar-active">Teams
                          <i class="fa fa-caret-down"></i>
                        </div>
                        <div class="dropdown-content">
                          <a href="teamList.html">View Teams</a>
                       
                        </div>
                      </div> 
                   
              </div>
        
              <div class="col-md-2 menu-head">
                    <div class="dropdown">
                        <div class="dropbtn bar-active">News
                          <i class="fa fa-caret-down"></i>
                        </div>
                        <div class="dropdown-content">
                          <a href="news.html">View News</a>    
                        </div>
                      
                    </div>
              </div>
        
              <div class="col-md-2 menu-head">
                    <div class="dropdown">
                        <div class="dropbtn bar-active">
                          Register
                          <i class="fa fa-caret-down"></i>
                        </div>
                          <div class="dropdown-content">
                              <a href="registered.html" target="_self">Register Players</a>    
                            </div>
                      
                      </div> 
                   
              </div>
         
         
              <div class="col-md-6">
              <div class="dropdown menu-user">
                  <div class="dropbtn">User 
                    <i class="fa fa-caret-down"></i>
                  </div>
                  <div class="dropdown-content">
                    <a href="editProfile.html">Edit profile</a>
                    <a href="changeSettings.html">change settings</a>
                    <a href="#">logout</a>
                  </div>
                </div> 
              
        </div>
            </div>
          </div>
          </nav>

      <div class="split left">
            <div class="centered">
              <a href="#" class="myLink">
                <div style="display:inline-block">
                  <span class="mySpan">Images</span>
                  <h1 class="myh1"><a href="viewImages.html">View Images</a> &raquo;</h1>
                </div>
              </a>
            </div>
          </div>
          
          <div class="split right">
            <div class="centered">
              <a href="#" class="myLink">
                <div style="display:inline-block">
                  <span class="mySpan">Vidoes</span>
                  <h1 class="myh1"><a href="viewVideos.html">View videos</a> &raquo;</h1>
                </div>
              </a>
            </div>
          </div>   
</body>
</html>
