
<form class="form-signin" method="post" action="/admin/AdminLogin">
    <h1 class="h3 mb-3 font-weight-normal text-center">Admin sign in</h1>
    <label for="inputEmail" class="sr-only">Username</label>
    <input type="text" class="form-control" name="username" placeholder="username" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" required>
    <!-- <input type="text" class="form-control" name="adminRole" placeholder="Secret Key" required> -->
    <!-- <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div> -->
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  
  </form>
  